<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/login.css">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2 class="animated-title">Login</h2>
            <form id="login-form">
                <div class="textbox">
                    <input type="text" id="email" placeholder="E-mail" required>
                </div>
                <div class="textbox">
                    <input type="password" id="password" placeholder="Senha" required>
                </div>
                <button type="submit" id="login-btn" class="btn">Entrar</button>
                <p class="register-link">Não tem uma conta? <a href="register.html">Registre agora</a></p>
                <p class="forgot-password-link"><a href="forgot-password.html">Esqueci minha senha</a></p>
            </form>
            <div id="message" class="message-box" style="display: none;"></div>
        </div>
    </div>
    <script src="../services/login.js"></script>
</body>
</html>
